Options +FollowSymLinks -Multiviews
Options -Indexes
RewriteEngine On

# Allow php including svg files
<IfModule mod_php5.c>
   php_value short_open_tag 0
 </IfModule>

# Force HTTPS on server
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !=localhost:9090
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Force www
RewriteEngine on
RewriteCond %{HTTP_HOST} ^shalomshanti.com [NC]
RewriteRule ^(.*)$ https://www.shalomshanti.com/$1 [L,R=301,NC]

# Find php files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !\.(png)$
RewriteRule ^(.+)$ $1.php [L,QSA]

# Find php files
RewriteRule ^saveTheDateEmailImage.png$ /shalomshanti/loadEmailImage.php [L,QSA]
